@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500);

body {
    font-family: 'Roboto';
}

#card-container {
    background-color: #6FB7E9;
    width: 100%;
    display: flex;
}

.card {
	transition: all 2s ease-in;
	max-width: 300px;
	min-height: 250px;
}

.card:not(.card--flipped) {
	transform: scale(0);
	animation: card-expanded 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 forwards;
}

@keyframes card-expanded {
	0% {
		transform: scale(0);
	}
	80% {
		transform: scale(1.0005);
	}
	100% {
		transform: scale(1);
	}
}

.card.card--flipped {
	transform: scale(0) rotateY(-180deg);
	animation: card-rotated-n-flipped 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 forwards;
}

@keyframes card-rotated-n-flipped {
	0% {
		transform: scale(0) rotateY(-180deg);
	}
	80% {
		transform: scale(1.0005) rotateY(-180deg);
	}
	100% {
		transform: scale(1) rotateY(-180deg);
	}
}

.card.card--active {
	transform: rotateY(0deg);
	animation: card-rotated 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s 1 forwards;
}

@keyframes card-rotated {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(-180deg);
	}
}

.card-front, .card-back {
	transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
	background-color: #fbfff6;
}

.card-front {
	transform: rotateY(0deg);
}

.card:not(.card--active) .card-back {
	transform: rotateY(180deg);
	opacity: 0;
	visibility: hidden;
}

.card.card--active .card-back, .card.card--flipped .card-back {
	opacity: 1;
	visibility: visible;
	transform: rotateY(180deg);
}